.main-container-spply{
    width: 1700px;
   
    height: 100vh;
}
#conta{
     height: 670px;
}
#supplayerChartsection{
       height: 700px;
    
   
}
#chaaart{
      height: 400px;
      width: 550px;
}
#side{
     height: 650px;
}
#mainn{
    
    height: 100vh;
}
#maain{
    /* background-color: rgb(233, 241, 113);
    height: 100vh;
    width: 1680px; */
}
#log{
    margin-top: 150px;
    margin-left: 50px;
  
  }